# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.settings/
.project
.classpath

# VS Code
.vscode/

# Java (Backend)
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/
**/mvnw
**/mvnw.cmd

# Angular (Frontend)
node_modules/
dist/
.angular/
tmp/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
coverage/

# Environment Files (Sensitive Data)
src/environments/environment*.ts

# System Files
.DS_Store
Thumbs.db
/.metadata/
